.lzr {

  .lzr-drawer {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    width: 100%;
    min-height: fit-content;
    border-radius: var(--border-radius--default);
    overflow: hidden;
    border: 1px solid var(--color--bg-default);
   
    > .tile-header {
      position: relative;
      display: flex;
      justify-content: flex-start;
      align-items: flex-start;
      width: 100%;
      min-height: fit-content;
      gap: 12px;
      padding: 8px 12px;
      background-color: var(--color--bg-default);
      border-radius: var(--border-radius--default) var(--border-radius--default) 0 0;
      
      .lzr-icon {
        path { fill: var(--color--fg-default); }
      }
      .header-title {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        font-size: 18px;
        font-weight: 600;
        gap: 8px;
        color: var(--color--fg-default);
        width: 100%;
        margin: 0;
        line-height: 18px;
      }

      .header-sub-title {
        display: block;
        font-weight: 400;
        color: var(--color--fg-default);
      }
  
      > .tile-caret {
        margin-left: auto;
        min-width: 20px; width: 20px; max-width: 20px;
        min-height: 20px; height: 20px; max-height: 20px;
  
        > .lzr-icon {
          transition: transform .33s ease-out;
          transform: rotate(90deg);
        }
      }

      > input[type="checkbox"] {
        box-sizing: border-box;
        appearance: none;
        cursor: pointer;
        outline: none;
        -webkit-tap-highlight-color: transparent;
        position: absolute;
        top: 0;
        left: 0;
        opacity: 1;
        min-width: 100%; width: 100%; max-width: 100%;
        min-height: 100%; height: 100%; max-height: 100%;
        margin: 0;
        background-color: transparent;
      }
    }

    > .expandable-wrapper {
      width: 100%;
      min-height: fit-content;
      display: grid;
      grid-template-rows: 0fr;
      transition: grid-template-rows .33s ease-out;
  
      > .expandable-inner {
        width: 100%;
        min-height: fit-content;
        overflow: hidden;
  
        > .inner-body {
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          padding: 8px 12px;
          width: 100%;
          min-height: fit-content;
  
          font-size: var(--font-size--default);
          font-weight: 400;
        }
      }
    }
  
    @media (pointer: fine) { &:has(>.tile-header > input[type="checkbox"]:hover) {
      > .tile-header {
        background-color: var(--color--bg-default--hover);
      }
    }}
    &:has(>.tile-header > input[type="checkbox"]:active) {
      outline: 2px solid var(--color--outline-default);
      > .tile-header {
        background-color: var(--color--bg-default--active);
      }
    }
    &:has(>.tile-header > input[type="checkbox"]:checked) {
      > .tile-header {
  
        > .tile-caret {
          > .lzr-icon {
            transform: rotate(270deg);
          }
        }
      }
      > .expandable-wrapper {
        grid-template-rows: 1fr;
      }
    }
  
    &.lzr-solid {
      border: 1px solid var(--color--fg-default);
  
      > .tile-header {
        background-color: var(--color--fg-default);
        .lzr-icon {
          path { fill: var(--color--bg-default); }
        }
        
        .header-title {
          color: var(--color--bg-default);
        }
        .header-sub-title {
          color: var(--color--bg-default);
        }
      }
  
      @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
        > .tile-header {
          background-color: var(--color--fg-default--hover);
        }
      }}
      &:has(>.tile-header > input[type="checkbox"]:active) {
        outline: 2px solid var(--color--outline--fg-default);
        > .tile-header {
          background-color: var(--color--fg-default--active);
        }
      }
      &:has(>.tile-header > input[type="checkbox"]:checked) {
        > .tile-header {
  
        }
      }
  
      &.lzr-primary {
        border: 1px solid var(--color--primary);
  
        > .tile-header {
          background-color: var(--color--primary);
          .lzr-icon {
            path { fill: var(--color--on-primary); }
          }
          
          .header-title {
            color: var(--color--on-primary);
          }
          .header-sub-title {
            color: var(--color--on-primary);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          > .tile-header {
            background-color: var(--color--primary--hover);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--primary);
          > .tile-header {
            background-color: var(--color--primary--active);
          }
        }
        &:has(>.tile-header > input[type="checkbox"]:checked) {
          > .tile-header {
  
          }
        }
      }
  
      &.lzr-success {
        border: 1px solid var(--color--success);
  
        > .tile-header {
          background-color: var(--color--success);
          .lzr-icon {
            path { fill: var(--color--on-success); }
          }
          
          .header-title {
            color: var(--color--on-success);
          }
          .header-sub-title {
            color: var(--color--on-success);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          > .tile-header {
            background-color: var(--color--success--hover);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--success);
          > .tile-header {
            background-color: var(--color--success--active);
          }
        }
        &:has(>.tile-header > input[type="checkbox"]:checked) {
          > .tile-header {
  
          }
        }
      }
  
      &.lzr-info {
        border: 1px solid var(--color--info);
  
        > .tile-header {
          background-color: var(--color--info);
          .lzr-icon {
            path { fill: var(--color--on-info); }
          }
          
          .header-title {
            color: var(--color--on-info);
          }
          .header-sub-title {
            color: var(--color--on-info);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          >.tile-header {
            background-color: var(--color--info--hover);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--info);
          > .tile-header {
            background-color: var(--color--info--active);
          }
        }
        &:has(>.tile-header > input[type="checkbox"]:checked) {
          > .tile-header {
  
          }
        }
      }
  
      &.lzr-error {
        border: 1px solid var(--color--error);
  
        > .tile-header {
          background-color: var(--color--error);
          .lzr-icon {
            path { fill: var(--color--on-error); }
          }
          
          .header-title {
            color: var(--color--on-error);
          }
          .header-sub-title {
            color: var(--color--on-error);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          > .tile-header {
            background-color: var(--color--error--hover);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--error);
          > .tile-header {
            background-color: var(--color--error--active);
          }
        }
        &:has(>.tile-header > input[type="checkbox"]:checked) {
          >.tile-header {
  
          }
        }
      }
    }
  
    &.lzr-outlined {
      border: 1px solid var(--color--fg-default);
  
      > .tile-header {
        background-color: transparent;
        .lzr-icon {
          path { fill: var(--color--fg-default); }
        }
        
        .header-title {
          color: var(--color--fg-default);
        }
        .header-sub-title {
          color: var(--color--fg-default);
        }
      }
  
      @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
        > .tile-header {
          background-color: var(--color--fg-default--hover);
          .lzr-icon {
            path { fill: var(--color--bg-default); }
          }
  
          .header-title {
            color: var(--color--bg-default);
          }
          .header-sub-title {
            color: var(--color--bg-default);
          }
        }
      }}
      &:has(>.tile-header > input[type="checkbox"]:active) {
        outline: 2px solid var(--color--outline-default);
        > .tile-header {
          background-color: var(--color--fg-default--active);
          .lzr-icon {
            path { fill: var(--color--bg-default); }
          }
  
          .header-title {
            color: var(--color--bg-default);
          }
          .header-sub-title {
            color: var(--color--bg-default);
          }
        }
      }
  
      &.lzr-primary {
        border: 1px solid var(--color--primary);

        > .tile-header {
          background-color: transparent;
          
          .lzr-icon {
            path { fill: var(--color--primary); }
          }
          .header-title {
            color: var(--color--primary);
          }
          .header-sub-title {
            color: var(--color--primary);
          }
        }
        
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          > .tile-header {
            background-color: var(--color--primary--hover);
            .lzr-icon {
              path { fill: var(--color--on-primary); }
            }
  
            .header-title {
              color: var(--color--on-primary);
            }
            .header-sub-title {
              color: var(--color--on-primary);
            }
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--primary);
          >.tile-header {
            background-color: var(--color--primary--active);
            .lzr-icon {
              path { fill: var(--color--on-primary); }
            }
  
            .header-title {
              color: var(--color--on-primary);
            }
            .header-sub-title {
              color: var(--color--on-primary);
            }
          }
        }
      }
  
      &.lzr-success {
        border: 1px solid var(--color--success);
  
        >.tile-header {
          background-color: transparent;
  
          .lzr-icon {
            path { fill: var(--color--success); }
          }
          .header-title {
            color: var(--color--success);
          }
          .header-sub-title {
            color: var(--color--success);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          >.tile-header {
            background-color: var(--color--success--hover);
            .lzr-icon {
              path { fill: var(--color--on-success); }
            }
            .header-title {
              color: var(--color--on-success);
            }
            .header-sub-title {
              color: var(--color--on-success);
            }
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--success);
          >.tile-header {
            background-color: var(--color--success--active);
            .lzr-icon {
              path { fill: var(--color--on-success); }
            }
            .header-title {
              color: var(--color--on-success);
            }
            .header-sub-title {
              color: var(--color--on-success);
            }
          }
        }
      }
  
      &.lzr-info {
        border: 1px solid var(--color--info);
  
        >.tile-header {
          background-color: transparent;
          .lzr-icon {
            path { fill: var(--color--info); }
          }
          
          .header-title {
            color: var(--color--info);
          }
          .header-sub-title {
            color: var(--color--info);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          >.tile-header {
            background-color: var(--color--info--hover);
            .lzr-icon {
              path { fill: var(--color--on-info); }
            }
  
            .header-title {
              color: var(--color--on-info);
            }
            .header-sub-title {
              color: var(--color--on-info);
            }
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--info);
          >.tile-header {
            background-color: var(--color--info--active);
            .lzr-icon {
              path { fill: var(--color--on-info); }
            }
  
            .header-title {
              color: var(--color--on-info);
            }
            .header-sub-title {
              color: var(--color--on-info);
            }
          }
        }
      }
  
      &.lzr-error {
        border: 1px solid var(--color--error);
  
        >.tile-header {
          background-color: transparent;
          .lzr-icon {
            path { fill: var(--color--error); }
          }
          
          .header-title {
            color: var(--color--error);
          }
          .header-sub-title {
            color: var(--color--error);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          >.tile-header {
            background-color: var(--color--error--hover);
            .lzr-icon {
              path { fill: var(--color--on-error); }
            }
  
            .header-title {
              color: var(--color--on-error);
            }
            .header-sub-title {
              color: var(--color--on-error);
            }
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          outline: 2px solid var(--color--outline--error);
          >.tile-header {
            background-color: var(--color--error--active);
            .lzr-icon {
              path { fill: var(--color--on-error); }
            }
  
            .header-title {
              color: var(--color--on-error);
            }
            .header-sub-title {
              color: var(--color--on-error);
            }
          }
        }
      }
    }
  
    &.lzr-flat {
      border: 1px solid transparent;
  
      >.tile-header {
        background-color: transparent;
        .lzr-icon {
          path { fill: var(--color--fg-default); }
        }
  
        .header-title {
          color: var(--color--fg-default);
        }
        .header-sub-title {
          color: var(--color--fg-default);
        }
      }
  
      @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
        border: 1px solid var(--color--fg-default--alpha);
  
        >.tile-header {
          background-color: var(--color--fg-default--alpha);
        }
      }}
      &:has(>.tile-header > input[type="checkbox"]:active) {
        border: 1px solid var(--color--fg-default--alpha);
        outline: 2px solid var(--color--outline--fg-default);
  
        >.tile-header {
          background-color: var(--color--fg-default--alpha);
        }
      }
  
      &.lzr-primary {
        >.tile-header {
          .lzr-icon {
            path { fill: var(--color--primary); }
          }
          .header-title {
            color: var(--color--primary);
          }
          .header-sub-title {
            color: var(--color--primary);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          border: 1px solid var(--color--primary--alpha);
          >.tile-header {
            background-color: var(--color--primary--alpha);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          border: 1px solid var(--color--primary--alpha);
          outline: 2px solid var(--color--outline--primary);
          >.tile-header {
            background-color: var(--color--primary--alpha);
          }
        }
      }
  
      &.lzr-success {
        >.tile-header {
          .lzr-icon {
            path { fill: var(--color--success); }
          }
          .header-title {
            color: var(--color--success);
          }
          .header-sub-title {
            color: var(--color--success);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          border: 1px solid var(--color--success--alpha);
          >.tile-header {
            background-color: var(--color--success--alpha);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          border: 1px solid var(--color--success--alpha);
          outline: 2px solid var(--color--outline--success);
          >.tile-header {
            background-color: var(--color--success--alpha);
          }
        }
      }
  
      &.lzr-info {
        >.tile-header {
          .lzr-icon {
            path { fill: var(--color--info); }
          }
          .header-title {
            color: var(--color--info);
          }
          .header-sub-title {
            color: var(--color--info);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          border: 1px solid var(--color--info--alpha);
          >.tile-header {
            background-color: var(--color--info--alpha);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          border: 1px solid var(--color--info--alpha);
          outline: 2px solid var(--color--outline--info);
          >.tile-header {
            background-color: var(--color--info--alpha);
          }
        }
      }
  
      &.lzr-error {
        >.tile-header {
          .lzr-icon {
            path { fill: var(--color--error); }
          }
          .header-title {
            color: var(--color--error);
          }
          .header-sub-title {
            color: var(--color--error);
          }
        }
  
        @media (pointer: fine) {&:has(>.tile-header > input[type="checkbox"]:hover) {
          border: 1px solid var(--color--error--alpha);
          >.tile-header {
            background-color: var(--color--error--alpha);
          }
        }}
        &:has(>.tile-header > input[type="checkbox"]:active) {
          border: 1px solid var(--color--error--alpha);
          outline: 2px solid var(--color--outline--error);
          >.tile-header {
            background-color: var(--color--error--alpha);
          }
        }
      }
    }
  }
}
