.lzr {
  
  .lzr-separator {
    border: none;
    background-color: var(--color--fg-20);

    &.horizontal {
      width: 100%;
      min-height: 1px; height: 1px; max-height: 1px;
      margin: 8px 0;
    }
    &.vertical {
      min-width: 1px; width: 1px; max-width: 1px;
      min-height: 24px; height: 100%;
      margin: 0 8px;
    }
  }
}